/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/
/*barra nav debe ser fixed*/
nav{
	z-index: 1;
	font-size: 18px;
	justify-content: space-between;
    display: flex;
	font-weight: 300;
	position: fixed;
	width: 100%;
	height: 120px;
	background:#E54E79 ;
	top: 0;
	left: 0;
}
nav.header-in{
  color:black;
  background-color: white;
}
div.logo{
  margin-top: 40px;
  margin-left: 82px;
  width: 64px;
  height: 45.5px;
  background-repeat: no-repeat;
  background-image: url(../img/logo-white.png);
  background-size: contain;
}
div.listado{
  justify-content: space-around;
  width: 42%;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  font-size: x-large;
   font-family: sans-serif;

}
#a{
	color: white;
}




#fondo{
	padding: 40px;
	left: -48px;
	right: -1px;
	height: 711px;
	top: -49px;
	background-size: cover;
	
	position: relative;
}

#cajaTurnMiles #cajagris {
    position: absolute;
    max-width: 400px;
    top: 13em;
    right: 0;
    background-color: #EDE9E2;
    padding: 3em 2.5em 3em 2em;
    text-align: left;
    width: 100%;
}
#cajaTurnMiles h3 {
    color: #00B2A9;
    font-size: 1.5em;
}
#cajaTurnMiles p {
    text-transform: uppercase;
    font-size: 90%;
    color: #75726C;
    margin: 1.5em 0;
}
#cajaTurnMiles #cajagris span {
    display: block;
    font-size: 90%;
    margin-top: 1.5em;
    font-weight: 400;
}
